* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #555;
    font-family: Arial, Helvetica, sans-serif;
}
.nav {
    height: 105px;
    background-color: #eda809;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid #DDD;
}
.nav-logo {
    margin-left: 5vw;
}
.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-right: 5vw;
}
.nav-links > a {
    text-decoration: none;
    font-size: 22px;
    color: #000;
}


.front-page-image {
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: end;
}
#index-image {
    background-image: url("../images/hero-image.jpg");
}
#recipe-image {
    background-image: url("../images/burger.jpg");
}
.front-page-text {
    font-size: 43px;
    font-weight: bolder;
    background-color: #DDD;
    display: inline-block;
    height: fit-content;
    width: fit-content;
    padding: 10px 20px;
    margin-bottom: 100px;
}


.sections-container {
    background-color: #fff;
    padding: 3vw 7vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sections-container > h2 {
    font-size: 50px;
}
.sections-container > p {
    font-size: 25px;
    margin-top: 50px;
}
.sections-images-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.sections-images-container > div {
    display: flex;
    flex-direction: column;

}
.sections-images-container p {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    background-color: #fff;
}
.sections-container:nth-child(even) {
    background-color: #CCCCD5;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 105px;
    background-color: #eda809;
}
footer > * {
    margin: 0 7vw;
    font-size: 18px;
}
footer ul {
    display: flex;
    list-style-type: none;
}
footer ul li{
    margin: 0 10px;
}
footer ul li a{
    color: black;
    text-decoration: none;
    font-size: inherit;
}


.main-content-container > * {
    padding-left: 5vw;
    padding-right: 5vw;
}

.time {
    background-color: #BBBBC0;
    padding-top: 40px;
    padding-bottom: 40px;
}
.time h2 {
    font-size: 40px;
}
.recipe-general-data {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}
.recipe-general-data p {
    font-size: 23px;
    width: calc(33%);
    margin-top: 8px;
}